.main {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.pokedex-button {
    background-color:#ce7a42;
    color: white;
    border-radius: 5px;
}